$menu-height: 50px;

html, body {
    height: 100%;
}

.menu {
    height: $menu-height;
}

.content {
    background-image: url('$m.url.asset(img/sample-image.jpg)');
    height: calc(100% - 2 * #{$menu-height});
}