{% extends '_skeleton.twig' %}
{% block content %}

<h1>This is the home page</h1>

<p>Below some string from PHP:</p>

<?php
require_once("_utils.php");
echo getStringFromPHP();
?>

<p>
  <img src="../assets/img/sample-image.jpg"/>
</p>

{% endblock %}
